PASSWORD=your_password
SUDO_PASSWORD=your_sudo_password
PORT=access_port
FOLDER=path_folder
PUID=user_id
PGID=group_id
TZ=your_timezone
HASHED_PASSWORD=hashed_password
SUDO_PASSWORD_HASH=hashed_sudo_password
DEFAULT_WORKSPACE=workspace_path
DOCKER_MODS=mods_list